<a href="https://colab.research.google.com/github/ammad19/DL_1Assignment/blob/main/Credit_Card_Fraud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

In [2]:
data = pd.read_csv('creditcard.csv')
df = data.copy() # To keep the data as back up
df.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [3]:
df.shape

(15936, 31)

In [4]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [5]:
df.tail()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
15931  27369 -1.160116 -0.244177  0.744250  ... -0.030845 -0.083609   52.90    0.0
15932  27369 -3.058318  3.099206 -4.932555  ...  0.171872 -0.236166   99.99    0.0
15933  27369 -0.661806  0.315385  2.011194  ...  0.068546  0.153438   74.58    0.0
15934  27370  1.525348 -1.231442  0.420095  ...  0.058942  0.011087    6.00    0.0
15935  27371  1.385680 -0.590076 -0.569197  ...       NaN       NaN     NaN    NaN

[5 rows x 31 columns]

In [6]:
df[31779:]

Empty DataFrame
Columns: [Time, V1, V2, V3, V4, V5, V6, V7, V8, V9, V10, V11, V12, V13, V14, V15, V16, V17, V18, V19, V20, V21, V22, V23, V24, V25, V26, V27, V28, Amount, Class]
Index: []

In [7]:
df['V7'].fillna(df['V7'].mean(), inplace=True)
df['V8'].fillna(df['V8'].mean(), inplace=True)
df['V9'].fillna(df['V9'].mean(), inplace=True)
df['V10'].fillna(df['V10'].mean(), inplace=True)
df['V11'].fillna(df['V11'].mean(), inplace=True)
df['V12'].fillna(df['V12'].mean(), inplace=True)
df['V13'].fillna(df['V13'].mean(), inplace=True)
df['V14'].fillna(df['V14'].mean(), inplace=True)
df['V15'].fillna(df['V15'].mean(), inplace=True)
df['V16'].fillna(df['V16'].mean(), inplace=True)
df['V17'].fillna(df['V17'].mean(), inplace=True)
df['V18'].fillna(df['V18'].mean(), inplace=True)
df['V19'].fillna(df['V19'].mean(), inplace=True)
df['V20'].fillna(df['V20'].mean(), inplace=True)
df['V21'].fillna(df['V21'].mean(), inplace=True)
df['V22'].fillna(df['V22'].mean(), inplace=True)
df['V23'].fillna(df['V23'].mean(), inplace=True)
df['V24'].fillna(df['V24'].mean(), inplace=True)
df['V25'].fillna(df['V25'].mean(), inplace=True)
df['V26'].fillna(df['V26'].mean(), inplace=True)
df['V27'].fillna(df['V27'].mean(), inplace=True)
df['V28'].fillna(df['V28'].mean(), inplace=True)
df['Amount'].fillna(df['Amount'].mean(), inplace=True)
df['Class'].fillna(df['Class'].mean(), inplace=True)

In [8]:
df[31779:]

Empty DataFrame
Columns: [Time, V1, V2, V3, V4, V5, V6, V7, V8, V9, V10, V11, V12, V13, V14, V15, V16, V17, V18, V19, V20, V21, V22, V23, V24, V25, V26, V27, V28, Amount, Class]
Index: []

In [9]:
df.dtypes

Time        int64
V1        float64
V2        float64
V3        float64
V4        float64
V5        float64
V6        float64
V7        float64
V8        float64
V9        float64
V10       float64
V11       float64
V12       float64
V13       float64
V14       float64
V15       float64
V16       float64
V17       float64
V18       float64
V19       float64
V20       float64
V21       float64
V22       float64
V23       float64
V24       float64
V25       float64
V26       float64
V27       float64
V28       float64
Amount    float64
Class     float64
dtype: object

In [10]:
df.describe()

               Time            V1  ...        Amount         Class
count  15936.000000  15936.000000  ...  15936.000000  15936.000000
mean   12121.217871     -0.254293  ...     66.390222      0.004581
std     8982.283843      1.843083  ...    189.349157      0.067529
min        0.000000    -28.344757  ...      0.000000      0.000000
25%     3633.500000     -0.970824  ...      5.490000      0.000000
50%    10980.000000     -0.318478  ...     15.950000      0.000000
75%    20621.500000      1.161949  ...     53.892500      0.000000
max    27371.000000      1.960497  ...   7712.430000      1.000000

[8 rows x 31 columns]

In [11]:
X = df.drop(labels='Class', axis=1)
Y = df['Class']

X.shape, Y.shape

((15936, 30), (15936,))

In [12]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(
    X, Y, random_state=42, test_size=0.3, shuffle=True)

print(xtrain.shape, ytrain.shape)
print(xtest.shape, ytest.shape)

(11155, 30) (11155,)
(4781, 30) (4781,)

In [13]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense 
from tensorflow.keras.optimizers import Adam, SGD
import tensorflow as tf
model = Sequential()
model.add(tf.keras.layers.Dense(10, activation='relu',input_shape =(30,)))
model.add(tf.keras.layers.Dense(8, activation='relu'))
model.add(tf.keras.layers.Dense(6, activation='relu'))
model.add(tf.keras.layers.Dense(1, activation='sigmoid'))
model.compile(optimizer='rmsprop', loss='binary_crossentropy', metrics=['accuracy'])  
model.fit(xtrain, ytrain,epochs=100,batch_size=512)

Epoch 1/100
22/22 [==============================] - 1s 3ms/step - loss: 795.0542 - accuracy: 0.0038
Epoch 2/100
22/22 [==============================] - 0s 2ms/step - loss: 342.6225 - accuracy: 0.0033
Epoch 3/100
22/22 [==============================] - 0s 2ms/step - loss: 174.4809 - accuracy: 0.0053
Epoch 4/100
22/22 [==============================] - 0s 2ms/step - loss: 60.8039 - accuracy: 0.0072
Epoch 5/100
22/22 [==============================] - 0s 2ms/step - loss: 2.9864 - accuracy: 0.5626
Epoch 6/100
22/22 [==============================] - 0s 2ms/step - loss: 0.1337 - accuracy: 0.9962
Epoch 7/100
22/22 [==============================] - 0s 2ms/step - loss: 0.1095 - accuracy: 0.9963
Epoch 8/100
22/22 [==============================] - 0s 2ms/step - loss: 0.1055 - accuracy: 0.9960
Epoch 9/100
22/22 [==============================] - 0s 2ms/step - loss: 0.1068 - accuracy: 0.9957
Epoch 10/100
22/22 [==============================] - 0s 2ms/step - loss: 0.1002 - accuracy: 0.9961
Epoch 11/100
22/22 [==============================] - 0s 3ms/step - loss: 0.0859 - accuracy: 0.9969
Epoch 12/100
22/22 [==============================] - 0s 3ms/step - loss: 0.1104 - accuracy: 0.9948
Epoch 13/100
22/22 [==============================] - 0s 3ms/step - loss: 0.0932 - accuracy: 0.9963
Epoch 14/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0885 - accuracy: 0.9962
Epoch 15/100
22/22 [==============================] - 0s 3ms/step - loss: 0.0931 - accuracy: 0.9958
Epoch 16/100
22/22 [==============================] - 0s 3ms/step - loss: 0.0843 - accuracy: 0.9957
Epoch 17/100
22/22 [==============================] - 0s 3ms/step - loss: 0.0853 - accuracy: 0.9957
Epoch 18/100
22/22 [==============================] - 0s 3ms/step - loss: 0.0636 - accuracy: 0.9971
Epoch 19/100
22/22 [==============================] - 0s 3ms/step - loss: 0.0755 - accuracy: 0.9958
Epoch 20/100
22/22 [==============================] - 0s 3ms/step - loss: 0.0649 - accuracy: 0.9968
Epoch 21/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0578 - accuracy: 0.9962
Epoch 22/100
22/22 [==============================] - 0s 3ms/step - loss: 0.0650 - accuracy: 0.9960
Epoch 23/100
22/22 [==============================] - 0s 3ms/step - loss: 0.0536 - accuracy: 0.9961
Epoch 24/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0545 - accuracy: 0.9956
Epoch 25/100
22/22 [==============================] - 0s 3ms/step - loss: 0.0564 - accuracy: 0.9957
Epoch 26/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0491 - accuracy: 0.9968
Epoch 27/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0476 - accuracy: 0.9962
Epoch 28/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0528 - accuracy: 0.9959
Epoch 29/100
22/22 [==============================] - 0s 5ms/step - loss: 0.0382 - accuracy: 0.9964
Epoch 30/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0441 - accuracy: 0.9959
Epoch 31/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0452 - accuracy: 0.9959
Epoch 32/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0271 - accuracy: 0.9970
Epoch 33/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0411 - accuracy: 0.9955
Epoch 34/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0387 - accuracy: 0.9958
Epoch 35/100
22/22 [==============================] - 0s 3ms/step - loss: 0.0353 - accuracy: 0.9962
Epoch 36/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0457 - accuracy: 0.9955
Epoch 37/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0375 - accuracy: 0.9962
Epoch 38/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0348 - accuracy: 0.9960
Epoch 39/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0361 - accuracy: 0.9956
Epoch 40/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0467 - accuracy: 0.9952
Epoch 41/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0309 - accuracy: 0.9946
Epoch 42/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0387 - accuracy: 0.9963
Epoch 43/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0347 - accuracy: 0.9960
Epoch 44/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0246 - accuracy: 0.9964
Epoch 45/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0269 - accuracy: 0.9960
Epoch 46/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0287 - accuracy: 0.9950
Epoch 47/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0349 - accuracy: 0.9955
Epoch 48/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0289 - accuracy: 0.9956
Epoch 49/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0206 - accuracy: 0.9961
Epoch 50/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0297 - accuracy: 0.9961
Epoch 51/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0331 - accuracy: 0.9959
Epoch 52/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0244 - accuracy: 0.9959
Epoch 53/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0252 - accuracy: 0.9954
Epoch 54/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0333 - accuracy: 0.9959
Epoch 55/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0205 - accuracy: 0.9960
Epoch 56/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0210 - accuracy: 0.9959
Epoch 57/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0289 - accuracy: 0.9957
Epoch 58/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0240 - accuracy: 0.9952
Epoch 59/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0489 - accuracy: 0.9970
Epoch 60/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0293 - accuracy: 0.9956
Epoch 61/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0187 - accuracy: 0.9960
Epoch 62/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0229 - accuracy: 0.9958
Epoch 63/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0188 - accuracy: 0.9957
Epoch 64/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0237 - accuracy: 0.9952
Epoch 65/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0192 - accuracy: 0.9959
Epoch 66/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0297 - accuracy: 0.9948
Epoch 67/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0150 - accuracy: 0.9963
Epoch 68/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0165 - accuracy: 0.9962
Epoch 69/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0208 - accuracy: 0.9960
Epoch 70/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0155 - accuracy: 0.9964
Epoch 71/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0197 - accuracy: 0.9958
Epoch 72/100
22/22 [==============================] - 0s 3ms/step - loss: 0.0204 - accuracy: 0.9952
Epoch 73/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0177 - accuracy: 0.9954
Epoch 74/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0223 - accuracy: 0.9958
Epoch 75/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0379 - accuracy: 0.9967
Epoch 76/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0302 - accuracy: 0.9962
Epoch 77/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0153 - accuracy: 0.9959
Epoch 78/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0248 - accuracy: 0.9968
Epoch 79/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0197 - accuracy: 0.9950
Epoch 80/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0218 - accuracy: 0.9956
Epoch 81/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0178 - accuracy: 0.9961
Epoch 82/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0152 - accuracy: 0.9959
Epoch 83/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0166 - accuracy: 0.9960
Epoch 84/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0176 - accuracy: 0.9951
Epoch 85/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0213 - accuracy: 0.9950
Epoch 86/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0171 - accuracy: 0.9957
Epoch 87/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0287 - accuracy: 0.9957
Epoch 88/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0334 - accuracy: 0.9961
Epoch 89/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0164 - accuracy: 0.9952
Epoch 90/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0193 - accuracy: 0.9954
Epoch 91/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0240 - accuracy: 0.9962
Epoch 92/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0165 - accuracy: 0.9962
Epoch 93/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0156 - accuracy: 0.9964
Epoch 94/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0149 - accuracy: 0.9960
Epoch 95/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0158 - accuracy: 0.9962
Epoch 96/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0216 - accuracy: 0.9957
Epoch 97/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0229 - accuracy: 0.9952
Epoch 98/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0170 - accuracy: 0.9957
Epoch 99/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0232 - accuracy: 0.9960
Epoch 100/100
22/22 [==============================] - 0s 2ms/step - loss: 0.0206 - accuracy: 0.9949

In [18]:
model = Sequential()
model.add(tf.keras.layers.Dense(10, activation='relu',input_shape =(30,)))
model.add(tf.keras.layers.Dense(8, activation='relu'))
model.add(tf.keras.layers.Dense(6, activation='relu'))
model.add(tf.keras.layers.Dense(1, activation='sigmoid'))
model.compile(optimizer='rmsprop', loss='binary_crossentropy', metrics=['accuracy'])  
x_val = xtrain[:2200]
partial_x_train = xtrain[2200:]
y_val = ytrain[:2200]
partial_y_train = ytrain[2200:]
model.compile(optimizer='rmsprop',loss='binary_crossentropy',metrics=['acc'])
history = model.fit(partial_x_train,partial_y_train,epochs=20,batch_size=512,validation_data=(x_val, y_val))

Epoch 1/20
18/18 [==============================] - 1s 22ms/step - loss: 114.0869 - acc: 0.2052 - val_loss: 1.2389 - val_acc: 0.9782
Epoch 2/20
18/18 [==============================] - 0s 7ms/step - loss: 1.2471 - acc: 0.9774 - val_loss: 1.0346 - val_acc: 0.9827
Epoch 3/20
18/18 [==============================] - 0s 5ms/step - loss: 0.9484 - acc: 0.9811 - val_loss: 0.8558 - val_acc: 0.9864
Epoch 4/20
18/18 [==============================] - 0s 5ms/step - loss: 0.8175 - acc: 0.9861 - val_loss: 0.7112 - val_acc: 0.9891
Epoch 5/20
18/18 [==============================] - 0s 5ms/step - loss: 0.6922 - acc: 0.9885 - val_loss: 0.6485 - val_acc: 0.9964
Epoch 6/20
18/18 [==============================] - 0s 4ms/step - loss: 0.6465 - acc: 0.9956 - val_loss: 0.6399 - val_acc: 0.9968
Epoch 7/20
18/18 [==============================] - 0s 4ms/step - loss: 0.6380 - acc: 0.9955 - val_loss: 0.6315 - val_acc: 0.9968
Epoch 8/20
18/18 [==============================] - 0s 4ms/step - loss: 0.6296 - acc: 0.9952 - val_loss: 0.6232 - val_acc: 0.9968
Epoch 9/20
18/18 [==============================] - 0s 4ms/step - loss: 0.6214 - acc: 0.9952 - val_loss: 0.6150 - val_acc: 0.9968
Epoch 10/20
18/18 [==============================] - 0s 4ms/step - loss: 0.6131 - acc: 0.9963 - val_loss: 0.6069 - val_acc: 0.9968
Epoch 11/20
18/18 [==============================] - 0s 4ms/step - loss: 0.6050 - acc: 0.9963 - val_loss: 0.5988 - val_acc: 0.9968
Epoch 12/20
18/18 [==============================] - 0s 5ms/step - loss: 0.5971 - acc: 0.9957 - val_loss: 0.5909 - val_acc: 0.9968
Epoch 13/20
18/18 [==============================] - 0s 5ms/step - loss: 0.5893 - acc: 0.9948 - val_loss: 0.5830 - val_acc: 0.9968
Epoch 14/20
18/18 [==============================] - 0s 6ms/step - loss: 0.5813 - acc: 0.9959 - val_loss: 0.5752 - val_acc: 0.9968
Epoch 15/20
18/18 [==============================] - 0s 5ms/step - loss: 0.5735 - acc: 0.9958 - val_loss: 0.5674 - val_acc: 0.9968
Epoch 16/20
18/18 [==============================] - 0s 6ms/step - loss: 0.5660 - acc: 0.9947 - val_loss: 0.5598 - val_acc: 0.9968
Epoch 17/20
18/18 [==============================] - 0s 6ms/step - loss: 0.5583 - acc: 0.9952 - val_loss: 0.5522 - val_acc: 0.9968
Epoch 18/20
18/18 [==============================] - 0s 7ms/step - loss: 0.5505 - acc: 0.9964 - val_loss: 0.5447 - val_acc: 0.9968
Epoch 19/20
18/18 [==============================] - 0s 6ms/step - loss: 0.5433 - acc: 0.9954 - val_loss: 0.5373 - val_acc: 0.9968
Epoch 20/20
18/18 [==============================] - 0s 6ms/step - loss: 0.5356 - acc: 0.9964 - val_loss: 0.5300 - val_acc: 0.9968

In [20]:
from sklearn.metrics import accuracy_score
yhat = model.predict_classes(xtest)
# evaluate predictions
score = accuracy_score(ytest, yhat)
print('Accuracy: %.3f' % score)

Accuracy: 0.994

/usr/local/lib/python3.7/dist-packages/tensorflow/python/keras/engine/sequential.py:450: UserWarning: `model.predict_classes()` is deprecated and will be removed after 2021-01-01. Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).
  warnings.warn('`model.predict_classes()` is deprecated and '

In [15]:
model = Sequential()
model.add(tf.keras.layers.Dense(10, activation='relu',input_shape =(30,)))
model.add(tf.keras.layers.Dense(8, activation='relu'))
model.add(tf.keras.layers.Dense(6, activation='relu'))
model.add(tf.keras.layers.Dense(1, activation='sigmoid'))
model.compile(optimizer='rmsprop', loss='binary_crossentropy', metrics=['accuracy'])  
model.fit(xtrain, ytrain,epochs=4,batch_size=512) 
results = model.evaluate(xtest, ytest)

Epoch 1/4
22/22 [==============================] - 1s 2ms/step - loss: 10.2663 - accuracy: 0.9951
Epoch 2/4
22/22 [==============================] - 0s 2ms/step - loss: 4.8823 - accuracy: 0.9967
Epoch 3/4
22/22 [==============================] - 0s 2ms/step - loss: 5.2643 - accuracy: 0.9954
Epoch 4/4
22/22 [==============================] - 0s 2ms/step - loss: 3.2834 - accuracy: 0.9955
150/150 [==============================] - 0s 1ms/step - loss: 3.1692 - accuracy: 0.9941

In [17]:
# predict test set
from sklearn.metrics import accuracy_score
yhat = model.predict_classes(xtest)
# evaluate predictions
score = accuracy_score(ytest, yhat)
print('Accuracy: %.3f' % score)

/usr/local/lib/python3.7/dist-packages/tensorflow/python/keras/engine/sequential.py:450: UserWarning: `model.predict_classes()` is deprecated and will be removed after 2021-01-01. Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).
  warnings.warn('`model.predict_classes()` is deprecated and '

Accuracy: 0.994