<a href="https://colab.research.google.com/github/ammad19/DL_1Assignment/blob/main/Credit_Card_Fraud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

In [4]:
data = pd.read_csv('creditcard.csv')
df = data.copy() # To keep the data as back up
df.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [5]:
df.shape

(31780, 31)

In [6]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        1
V8        1
V9        1
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [13]:
df.tail()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
31775  36510  1.497714 -0.874208  0.004261  ...  0.003761  0.007950   24.90    0.0
31776  36512 -0.407854  0.940336  1.533733  ...  0.255380  0.117340    1.79    0.0
31777  36513 -0.434226 -3.705556  0.194223  ... -0.080514  0.155457  861.12    0.0
31778  36513 -0.274278  1.004565  1.336430  ...  0.078376 -0.137035    9.72    0.0
31779  36513  1.295137  0.096775  0.348134  ...       NaN       NaN     NaN    NaN

[5 rows x 31 columns]

In [14]:
df[31779:]

        Time        V1        V2        V3  ...  V27  V28  Amount  Class
31779  36513  1.295137  0.096775  0.348134  ...  NaN  NaN     NaN    NaN

[1 rows x 31 columns]

In [35]:
df['V7'].fillna(df['V7'].mean(), inplace=True)
df['V8'].fillna(df['V8'].mean(), inplace=True)
df['V9'].fillna(df['V9'].mean(), inplace=True)
df['V10'].fillna(df['V10'].mean(), inplace=True)
df['V11'].fillna(df['V11'].mean(), inplace=True)
df['V12'].fillna(df['V12'].mean(), inplace=True)
df['V13'].fillna(df['V13'].mean(), inplace=True)
df['V14'].fillna(df['V14'].mean(), inplace=True)
df['V15'].fillna(df['V15'].mean(), inplace=True)
df['V16'].fillna(df['V16'].mean(), inplace=True)
df['V17'].fillna(df['V17'].mean(), inplace=True)
df['V18'].fillna(df['V18'].mean(), inplace=True)
df['V19'].fillna(df['V19'].mean(), inplace=True)
df['V20'].fillna(df['V20'].mean(), inplace=True)
df['V21'].fillna(df['V21'].mean(), inplace=True)
df['V22'].fillna(df['V22'].mean(), inplace=True)
df['V23'].fillna(df['V23'].mean(), inplace=True)
df['V24'].fillna(df['V24'].mean(), inplace=True)
df['V25'].fillna(df['V25'].mean(), inplace=True)
df['V26'].fillna(df['V26'].mean(), inplace=True)
df['V27'].fillna(df['V27'].mean(), inplace=True)
df['V28'].fillna(df['V28'].mean(), inplace=True)
df['Amount'].fillna(df['Amount'].mean(), inplace=True)
df['Class'].fillna(df['Class'].mean(), inplace=True)

In [36]:
df[31779:]

        Time        V1        V2  ...       V28     Amount    Class
31779  36513  1.295137  0.096775  ...  0.003384  81.115001  0.00321

[1 rows x 31 columns]

In [12]:
df.dtypes

Time        int64
V1        float64
V2        float64
V3        float64
V4        float64
V5        float64
V6        float64
V7        float64
V8        float64
V9        float64
V10       float64
V11       float64
V12       float64
V13       float64
V14       float64
V15       float64
V16       float64
V17       float64
V18       float64
V19       float64
V20       float64
V21       float64
V22       float64
V23       float64
V24       float64
V25       float64
V26       float64
V27       float64
V28       float64
Amount    float64
Class     float64
dtype: object

In [11]:
df.describe()

               Time            V1  ...        Amount         Class
count  31780.000000  31780.000000  ...  31779.000000  31779.000000
mean   22329.432410     -0.212640  ...     81.115001      0.003210
std    12184.540274      1.854714  ...    223.154481      0.056564
min        0.000000    -30.552380  ...      0.000000      0.000000
25%    10971.000000     -0.956800  ...      6.790000      0.000000
50%    27331.000000     -0.246371  ...     20.000000      0.000000
75%    32942.000000      1.164230  ...     73.705000      0.000000
max    36513.000000      1.960497  ...   7879.420000      1.000000

[8 rows x 31 columns]