<a href="https://colab.research.google.com/github/ammad19/DL_1Assignment/blob/main/Credit_Card_Fraud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

In [4]:
data = pd.read_csv('creditcard.csv')
df = data.copy() # To keep the data as back up
df.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [5]:
df.shape

(31780, 31)

In [6]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        1
V8        1
V9        1
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [13]:
df.tail()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
31775  36510  1.497714 -0.874208  0.004261  ...  0.003761  0.007950   24.90    0.0
31776  36512 -0.407854  0.940336  1.533733  ...  0.255380  0.117340    1.79    0.0
31777  36513 -0.434226 -3.705556  0.194223  ... -0.080514  0.155457  861.12    0.0
31778  36513 -0.274278  1.004565  1.336430  ...  0.078376 -0.137035    9.72    0.0
31779  36513  1.295137  0.096775  0.348134  ...       NaN       NaN     NaN    NaN

[5 rows x 31 columns]

In [14]:
df[31779:]

        Time        V1        V2        V3  ...  V27  V28  Amount  Class
31779  36513  1.295137  0.096775  0.348134  ...  NaN  NaN     NaN    NaN

[1 rows x 31 columns]

In [35]:
df['V7'].fillna(df['V7'].mean(), inplace=True)
df['V8'].fillna(df['V8'].mean(), inplace=True)
df['V9'].fillna(df['V9'].mean(), inplace=True)
df['V10'].fillna(df['V10'].mean(), inplace=True)
df['V11'].fillna(df['V11'].mean(), inplace=True)
df['V12'].fillna(df['V12'].mean(), inplace=True)
df['V13'].fillna(df['V13'].mean(), inplace=True)
df['V14'].fillna(df['V14'].mean(), inplace=True)
df['V15'].fillna(df['V15'].mean(), inplace=True)
df['V16'].fillna(df['V16'].mean(), inplace=True)
df['V17'].fillna(df['V17'].mean(), inplace=True)
df['V18'].fillna(df['V18'].mean(), inplace=True)
df['V19'].fillna(df['V19'].mean(), inplace=True)
df['V20'].fillna(df['V20'].mean(), inplace=True)
df['V21'].fillna(df['V21'].mean(), inplace=True)
df['V22'].fillna(df['V22'].mean(), inplace=True)
df['V23'].fillna(df['V23'].mean(), inplace=True)
df['V24'].fillna(df['V24'].mean(), inplace=True)
df['V25'].fillna(df['V25'].mean(), inplace=True)
df['V26'].fillna(df['V26'].mean(), inplace=True)
df['V27'].fillna(df['V27'].mean(), inplace=True)
df['V28'].fillna(df['V28'].mean(), inplace=True)
df['Amount'].fillna(df['Amount'].mean(), inplace=True)
df['Class'].fillna(df['Class'].mean(), inplace=True)

In [36]:
df[31779:]

        Time        V1        V2  ...       V28     Amount    Class
31779  36513  1.295137  0.096775  ...  0.003384  81.115001  0.00321

[1 rows x 31 columns]

In [12]:
df.dtypes

Time        int64
V1        float64
V2        float64
V3        float64
V4        float64
V5        float64
V6        float64
V7        float64
V8        float64
V9        float64
V10       float64
V11       float64
V12       float64
V13       float64
V14       float64
V15       float64
V16       float64
V17       float64
V18       float64
V19       float64
V20       float64
V21       float64
V22       float64
V23       float64
V24       float64
V25       float64
V26       float64
V27       float64
V28       float64
Amount    float64
Class     float64
dtype: object

In [11]:
df.describe()

               Time            V1  ...        Amount         Class
count  31780.000000  31780.000000  ...  31779.000000  31779.000000
mean   22329.432410     -0.212640  ...     81.115001      0.003210
std    12184.540274      1.854714  ...    223.154481      0.056564
min        0.000000    -30.552380  ...      0.000000      0.000000
25%    10971.000000     -0.956800  ...      6.790000      0.000000
50%    27331.000000     -0.246371  ...     20.000000      0.000000
75%    32942.000000      1.164230  ...     73.705000      0.000000
max    36513.000000      1.960497  ...   7879.420000      1.000000

[8 rows x 31 columns]

In [37]:
X = df.drop(labels='Class', axis=1)
Y = df['Class']

X.shape, Y.shape

((31780, 30), (31780,))

In [38]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(
    X, Y, random_state=42, test_size=0.3, shuffle=True)

print(xtrain.shape, ytrain.shape)
print(xtest.shape, ytest.shape)

(22246, 30) (22246,)
(9534, 30) (9534,)

In [43]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense 
from tensorflow.keras.optimizers import Adam, SGD
import tensorflow as tf
model = Sequential()
model.add(tf.keras.layers.Dense(10, activation='relu',input_shape =(30,)))
model.add(tf.keras.layers.Dense(8, activation='relu'))
model.add(tf.keras.layers.Dense(6, activation='relu'))
model.add(tf.keras.layers.Dense(1, activation='sigmoid'))
model.compile(optimizer='rmsprop', loss='binary_crossentropy', metrics=['accuracy'])  
model.fit(xtrain, ytrain,epochs=100,batch_size=512)

Epoch 1/100
44/44 [==============================] - 1s 2ms/step - loss: 34.3718 - accuracy: 0.6548
Epoch 2/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0745 - accuracy: 0.9973
Epoch 3/100
44/44 [==============================] - 0s 2ms/step - loss: 0.1152 - accuracy: 0.9970
Epoch 4/100
44/44 [==============================] - 0s 2ms/step - loss: 0.1405 - accuracy: 0.9967
Epoch 5/100
44/44 [==============================] - 0s 2ms/step - loss: 0.3380 - accuracy: 0.9309
Epoch 6/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0973 - accuracy: 0.9928
Epoch 7/100
44/44 [==============================] - 0s 2ms/step - loss: 0.1427 - accuracy: 0.9968
Epoch 8/100
44/44 [==============================] - 0s 2ms/step - loss: 0.1430 - accuracy: 0.9856
Epoch 9/100
44/44 [==============================] - 0s 2ms/step - loss: 0.1014 - accuracy: 0.9963
Epoch 10/100
44/44 [==============================] - 0s 2ms/step - loss: 0.1123 - accuracy: 0.9963
Epoch 11/100
44/44 [==============================] - 0s 2ms/step - loss: 0.1171 - accuracy: 0.9857
Epoch 12/100
44/44 [==============================] - 0s 2ms/step - loss: 0.1098 - accuracy: 0.9964
Epoch 13/100
44/44 [==============================] - 0s 2ms/step - loss: 0.1557 - accuracy: 0.9916
Epoch 14/100
44/44 [==============================] - 0s 2ms/step - loss: 0.1343 - accuracy: 0.9966
Epoch 15/100
44/44 [==============================] - 0s 2ms/step - loss: 0.1149 - accuracy: 0.9968
Epoch 16/100
44/44 [==============================] - 0s 2ms/step - loss: 1.0319 - accuracy: 0.9094
Epoch 17/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0780 - accuracy: 0.9926
Epoch 18/100
44/44 [==============================] - 0s 2ms/step - loss: 0.1826 - accuracy: 0.9964
Epoch 19/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0958 - accuracy: 0.9857
Epoch 20/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0968 - accuracy: 0.9972
Epoch 21/100
44/44 [==============================] - 0s 2ms/step - loss: 0.1417 - accuracy: 0.9938
Epoch 22/100
44/44 [==============================] - 0s 2ms/step - loss: 0.1917 - accuracy: 0.9965
Epoch 23/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0427 - accuracy: 0.9976
Epoch 24/100
44/44 [==============================] - 0s 2ms/step - loss: 0.3138 - accuracy: 0.9479
Epoch 25/100
44/44 [==============================] - 0s 2ms/step - loss: 0.1043 - accuracy: 0.9869
Epoch 26/100
44/44 [==============================] - 0s 2ms/step - loss: 0.1251 - accuracy: 0.9968
Epoch 27/100
44/44 [==============================] - 0s 2ms/step - loss: 0.1258 - accuracy: 0.9922
Epoch 28/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0537 - accuracy: 0.9970
Epoch 29/100
44/44 [==============================] - 0s 2ms/step - loss: 0.1688 - accuracy: 0.9675
Epoch 30/100
44/44 [==============================] - 0s 2ms/step - loss: 0.1187 - accuracy: 0.9895
Epoch 31/100
44/44 [==============================] - 0s 2ms/step - loss: 0.1024 - accuracy: 0.9970
Epoch 32/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0437 - accuracy: 0.9975
Epoch 33/100
44/44 [==============================] - 0s 2ms/step - loss: 0.1768 - accuracy: 0.9781
Epoch 34/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0687 - accuracy: 0.9969
Epoch 35/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0517 - accuracy: 0.9970
Epoch 36/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0572 - accuracy: 0.9970
Epoch 37/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0697 - accuracy: 0.9973
Epoch 38/100
44/44 [==============================] - 0s 2ms/step - loss: 0.4307 - accuracy: 0.9655
Epoch 39/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0549 - accuracy: 0.9967
Epoch 40/100
44/44 [==============================] - 0s 2ms/step - loss: 0.1450 - accuracy: 0.9893
Epoch 41/100
44/44 [==============================] - 0s 2ms/step - loss: 0.1139 - accuracy: 0.9961
Epoch 42/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0748 - accuracy: 0.9858
Epoch 43/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0606 - accuracy: 0.9967
Epoch 44/100
44/44 [==============================] - 0s 2ms/step - loss: 0.1806 - accuracy: 0.9829
Epoch 45/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0613 - accuracy: 0.9972
Epoch 46/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0830 - accuracy: 0.9964
Epoch 47/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0747 - accuracy: 0.9966
Epoch 48/100
44/44 [==============================] - 0s 2ms/step - loss: 0.1168 - accuracy: 0.9839
Epoch 49/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0904 - accuracy: 0.9964
Epoch 50/100
44/44 [==============================] - 0s 2ms/step - loss: 0.2253 - accuracy: 0.9377
Epoch 51/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0510 - accuracy: 0.9929
Epoch 52/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0593 - accuracy: 0.9968
Epoch 53/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0679 - accuracy: 0.9966
Epoch 54/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0253 - accuracy: 0.9982
Epoch 55/100
44/44 [==============================] - 0s 2ms/step - loss: 0.3474 - accuracy: 0.9551
Epoch 56/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0353 - accuracy: 0.9973
Epoch 57/100
44/44 [==============================] - 0s 2ms/step - loss: 0.5281 - accuracy: 0.9589
Epoch 58/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0300 - accuracy: 0.9979
Epoch 59/100
44/44 [==============================] - 0s 2ms/step - loss: 0.5578 - accuracy: 0.9228
Epoch 60/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0312 - accuracy: 0.9966
Epoch 61/100
44/44 [==============================] - 0s 2ms/step - loss: 0.1094 - accuracy: 0.9965
Epoch 62/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0235 - accuracy: 0.9982
Epoch 63/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0949 - accuracy: 0.9939
Epoch 64/100
44/44 [==============================] - 0s 2ms/step - loss: 0.1101 - accuracy: 0.9933
Epoch 65/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0689 - accuracy: 0.9965
Epoch 66/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0449 - accuracy: 0.9972
Epoch 67/100
44/44 [==============================] - 0s 2ms/step - loss: 0.1923 - accuracy: 0.9691
Epoch 68/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0390 - accuracy: 0.9971
Epoch 69/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0586 - accuracy: 0.9972
Epoch 70/100
44/44 [==============================] - 0s 2ms/step - loss: 0.8741 - accuracy: 0.9180
Epoch 71/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0399 - accuracy: 0.9971
Epoch 72/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0564 - accuracy: 0.9971
Epoch 73/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0431 - accuracy: 0.9975
Epoch 74/100
44/44 [==============================] - 0s 2ms/step - loss: 0.1342 - accuracy: 0.9840
Epoch 75/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0591 - accuracy: 0.9974
Epoch 76/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0744 - accuracy: 0.9844
Epoch 77/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0631 - accuracy: 0.9971
Epoch 78/100
44/44 [==============================] - 0s 2ms/step - loss: 0.3838 - accuracy: 0.9746
Epoch 79/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0380 - accuracy: 0.9973
Epoch 80/100
44/44 [==============================] - 0s 2ms/step - loss: 2.0034 - accuracy: 0.9087
Epoch 81/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0181 - accuracy: 0.9982
Epoch 82/100
44/44 [==============================] - 0s 2ms/step - loss: 1.1319 - accuracy: 0.9175
Epoch 83/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0264 - accuracy: 0.9975
Epoch 84/100
44/44 [==============================] - 0s 2ms/step - loss: 0.1453 - accuracy: 0.9740
Epoch 85/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0362 - accuracy: 0.9975
Epoch 86/100
44/44 [==============================] - 0s 2ms/step - loss: 0.3080 - accuracy: 0.9448
Epoch 87/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0290 - accuracy: 0.9961
Epoch 88/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0829 - accuracy: 0.9969
Epoch 89/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0377 - accuracy: 0.9966
Epoch 90/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0728 - accuracy: 0.9965
Epoch 91/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0286 - accuracy: 0.9981
Epoch 92/100
44/44 [==============================] - 0s 2ms/step - loss: 0.3352 - accuracy: 0.9329
Epoch 93/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0281 - accuracy: 0.9980
Epoch 94/100
44/44 [==============================] - 0s 2ms/step - loss: 0.1941 - accuracy: 0.9519
Epoch 95/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0316 - accuracy: 0.9981
Epoch 96/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0555 - accuracy: 0.9976
Epoch 97/100
44/44 [==============================] - 0s 2ms/step - loss: 0.2481 - accuracy: 0.9545
Epoch 98/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0317 - accuracy: 0.9976
Epoch 99/100
44/44 [==============================] - 0s 2ms/step - loss: 0.4460 - accuracy: 0.9470
Epoch 100/100
44/44 [==============================] - 0s 2ms/step - loss: 0.0332 - accuracy: 0.9936

In [56]:
model = Sequential()
model.add(tf.keras.layers.Dense(10, activation='relu',input_shape =(30,)))
model.add(tf.keras.layers.Dense(8, activation='relu'))
model.add(tf.keras.layers.Dense(6, activation='relu'))
model.add(tf.keras.layers.Dense(1, activation='sigmoid'))
model.compile(optimizer='rmsprop', loss='binary_crossentropy', metrics=['accuracy'])  
x_val = xtrain[:2200]
partial_x_train = xtrain[2200:]
y_val = ytrain[:2200]
partial_y_train = ytrain[2200:]
model.compile(optimizer='rmsprop',loss='binary_crossentropy',metrics=['acc'])
history = model.fit(partial_x_train,partial_y_train,epochs=20,batch_size=512,validation_data=(x_val, y_val))

Epoch 1/20
40/40 [==============================] - 1s 8ms/step - loss: 0.7291 - acc: 0.9209 - val_loss: 0.1116 - val_acc: 0.9964
Epoch 2/20
40/40 [==============================] - 0s 3ms/step - loss: 0.0747 - acc: 0.9974 - val_loss: 0.0890 - val_acc: 0.9964
Epoch 3/20
40/40 [==============================] - 0s 3ms/step - loss: 0.5406 - acc: 0.9656 - val_loss: 0.1096 - val_acc: 0.9964
Epoch 4/20
40/40 [==============================] - 0s 3ms/step - loss: 0.1173 - acc: 0.9931 - val_loss: 0.2358 - val_acc: 0.9964
Epoch 5/20
40/40 [==============================] - 0s 3ms/step - loss: 0.1532 - acc: 0.9967 - val_loss: 0.1284 - val_acc: 0.9964
Epoch 6/20
40/40 [==============================] - 0s 3ms/step - loss: 0.0926 - acc: 0.9970 - val_loss: 3.8863 - val_acc: 0.1459
Epoch 7/20
40/40 [==============================] - 0s 3ms/step - loss: 0.5128 - acc: 0.9092 - val_loss: 0.1247 - val_acc: 0.9964
Epoch 8/20
40/40 [==============================] - 0s 3ms/step - loss: 0.1007 - acc: 0.9964 - val_loss: 0.1809 - val_acc: 0.9964
Epoch 9/20
40/40 [==============================] - 0s 3ms/step - loss: 0.1104 - acc: 0.9944 - val_loss: 0.2099 - val_acc: 0.9964
Epoch 10/20
40/40 [==============================] - 0s 3ms/step - loss: 0.1496 - acc: 0.9968 - val_loss: 0.1318 - val_acc: 0.9964
Epoch 11/20
40/40 [==============================] - 0s 3ms/step - loss: 0.1085 - acc: 0.9964 - val_loss: 0.1074 - val_acc: 0.9964
Epoch 12/20
40/40 [==============================] - 0s 3ms/step - loss: 0.0755 - acc: 0.9973 - val_loss: 0.1061 - val_acc: 0.9964
Epoch 13/20
40/40 [==============================] - 0s 3ms/step - loss: 0.2345 - acc: 0.9668 - val_loss: 0.1738 - val_acc: 0.9964
Epoch 14/20
40/40 [==============================] - 0s 3ms/step - loss: 0.0958 - acc: 0.9966 - val_loss: 0.1843 - val_acc: 0.9964
Epoch 15/20
40/40 [==============================] - 0s 3ms/step - loss: 0.1292 - acc: 0.9966 - val_loss: 0.1019 - val_acc: 0.9964
Epoch 16/20
40/40 [==============================] - 0s 3ms/step - loss: 0.3771 - acc: 0.9499 - val_loss: 0.1470 - val_acc: 0.9964
Epoch 17/20
40/40 [==============================] - 0s 3ms/step - loss: 0.1066 - acc: 0.9943 - val_loss: 0.2423 - val_acc: 0.9964
Epoch 18/20
40/40 [==============================] - 0s 3ms/step - loss: 0.1202 - acc: 0.9974 - val_loss: 0.1012 - val_acc: 0.9964
Epoch 19/20
40/40 [==============================] - 0s 3ms/step - loss: 0.1690 - acc: 0.9812 - val_loss: 0.1758 - val_acc: 0.9964
Epoch 20/20
40/40 [==============================] - 0s 3ms/step - loss: 0.1232 - acc: 0.9932 - val_loss: 0.2027 - val_acc: 0.9964

In [57]:
model = Sequential()
model.add(tf.keras.layers.Dense(10, activation='relu',input_shape =(30,)))
model.add(tf.keras.layers.Dense(8, activation='relu'))
model.add(tf.keras.layers.Dense(6, activation='relu'))
model.add(tf.keras.layers.Dense(1, activation='sigmoid'))
model.compile(optimizer='rmsprop', loss='binary_crossentropy', metrics=['accuracy'])  
model.fit(xtrain, ytrain,epochs=4,batch_size=512) 
results = model.evaluate(xtest, ytest)

Epoch 1/4
44/44 [==============================] - 1s 2ms/step - loss: 0.6847 - accuracy: 0.9967
Epoch 2/4
44/44 [==============================] - 0s 2ms/step - loss: 0.6619 - accuracy: 0.9970
Epoch 3/4
44/44 [==============================] - 0s 2ms/step - loss: 0.6410 - accuracy: 0.9974
Epoch 4/4
44/44 [==============================] - 0s 2ms/step - loss: 0.6208 - accuracy: 0.9964
298/298 [==============================] - 0s 999us/step - loss: 0.6045 - accuracy: 0.9971